// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.3s;
}

// Grid

.grid-wrapper {
    width: 100%;
}

.grid-row {
    height: 3rem;
    width: 100%;
    background-color: #002fa7;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-basis: auto;
    .column {
        border: 1px solid white;
        flex: 1 1 0;
        &.active-cell {
            background-color: orange;
        }
    }
}