// Fonts
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    // text-shadow: 1px 1px #666666!important;
}

html, body {
    height: 100%;
    background-color: transparent;
}

html {
    background-image: linear-gradient(to bottom, rgba(163, 59, 163, 0.7) 0%, rgba(151,217,225, 0.8) 100%),
    url('../../resources/images/bg.jpg');
    background-size: cover;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
}

.content {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.3s;
    padding-top: 0;
    padding-bottom: 1rem;
}

.control-wrapper {
    display:flex;
    .crud-button {
        height: 2.5rem;
        color: #202324;
        background-color: rgba(255,255,255, 0.75);
        height: 50px;
        border-radius: 14px;
        border: 2px solid white;
        margin-left: 0.5rem;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }
}

.playback-control-wrapper {
    background-color: rgba(255,255,255, 0.75);
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 14px;
    border: 2px solid white;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    .button-wrapper {
        margin-bottom: 0;
    }
    .tweak-wrapper {
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $primary_text_color;
        justify-content: center;
        input#bpm {
            margin: 0;
        }
        label {
            color: #202324;
        }
    }
    .sequencer-button {
        border-radius: 14px;
        &.play {
            border: 2px solid white;
            padding-top: 0.08rem;
            background-color: white;
        }
    }
}

.main-grid-wrapper {
    border-radius: 14px;
    padding: 8px 8px 0 8px;
    // border: 4px solid white;
    // border-bottom: none;
    background-color: transparent;
}

.select-css {
    padding: 1rem;
    -webkit-appearance: menulist-button;
    height: 50px;
    border-radius: 14px;
    background-color: rgba(255,255,255, 0.5);
    border: 2px solid white;
    color: #202324;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

// Button
.button-wrapper {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* General button style (reset) */

.btn-primary {
    background: $playhead_border;
    color: $primary_text_color;
    &:hover {
        background: lighten(white, 5%);
    }
}

.btn-control {
    margin-left: 0.5rem;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

/* Button 1c */
.btn-1e {
    transition: 0.3s transform;
}

.btn-1e:hover,
.btn-1e:active {
    transform: scale(1.025);
    color: #fff;
}

button:focus, :focus {
    outline: none!important;
}

input {
    margin-bottom: 2rem;
}

// Grid
.grid-wrapper {
    max-width: 80vw;
    max-height: 80vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    &.synth {
        background-color: #f65c78;
        .grid-column {
            .cell.black-note.on-cell {
                background-color: darken(#f65c78, 20%);
            }
            .on-cell {
                background-color: #f65c78;
            }
        }
    }
    &.bass {
        background-color: #ffd271;
        .grid-column {
            .cell.black-note.on-cell {
                background-color: darken(#ffd271, 20%);
            }
            .on-cell {
                background-color: #ffd271;
            }
        }
    }
    &.drums {
        background-color: #c3f584;
        .grid-column {
            .on-cell {
                background-color: #c3f584;
            }
        }
    }
}

.grid-column {
    margin: 0 auto;
    background-color: lightgrey;
    // justify-content: center;
    // // align-items: center;
    flex-direction: row;
    .cell {
        display: flex;
        width: 17px;
        height: 17px;
        outline: 1px solid rgba(232, 236, 241, 1);
        transition: 0.3s transform;
        &.active-cell {
            outline: none;
            border-left: 1px solid $playhead_border;
            border-right: 1px solid $playhead_border;
            border-top: none;
            border-bottom: none;
            transform: scale(1.1);
        }
        &.black-note {
            background-color: #8B9EA8;
            &.active-cell {
                outline: none;
                border-left: 1px solid $playhead_border;
                border-right: 1px solid $playhead_border;
                border-top: none;
                border-bottom: none;
                transform: scale(1.1);
            }
            &.on-cell {
                background-color: darken(#336699, 10%);
            }

        }

        &.on-cell {
            background-color: #336699;
            &.active-cell {
                outline: none;
                border-left: 1px solid $playhead_border;
                border-right: 1px solid $playhead_border;
                border-top: none;
                border-bottom: none;
                background-color: lighten(#336699, 20%);
                transform: scale(1.15);
            }
        }
    }
}

.drumGrid-column {
    display: block;
}

// Modal

.new-song-modal {
    display: inline-flex;
    justify-content: center;
}

.modal-footer {
    display:flex;
    align-items: center;
    input {
        margin-bottom: 0;
    }
}
